{% extends "bootstrap/base.html" %}

{% block title %}StudyPal-伴学{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='fav.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='fav.ico') }}" type="image/x-icon">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
{% endblock %}

<style>

</style>

{% block navbar %}
<nav class="navbar navbar-fixed-top navbar-toggleable-md navbar-light bg-faded" style="background-color: #FFAE46;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand mt-2" href="{{ url_for('main.index') }}">StudyPal 伴学-留学生的专业课外辅导</a>
    
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav navbar-right mt-2">
      <li class="nav-item mr-5">
        <a class="nav-link" href="#">注册</a>
      </li>
      <li class="nav-item mr-5">
        <a class="nav-link" href="#">成为导师</a>
      </li>
      <li class="nav-item mr-5">
        <a class="nav-link" href="#">帮助</a>
      </li>
      
    </ul>

  </div>
</nav>
{% endblock %}



{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
