{% extends "base.html" %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}

{% block title %}StudyPal-伴学{% endblock %}

{% block head %}
{{ super() }}

<link href="https://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
<link rel="stylesheet" href="https://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

<style>
    .mentor-style {
      background-color: #ffffff;
      margin-top: 200px;
    }
    .box-small {
      display: inline-block;
      vertical-align: top;
      width: 50px;
      height: 50px;
      background: #ffffff;
      margin: 5px;
    }
    .content {
      display: inline-block;
      vertical-align: top;
    }
    .title, .sub-title {
      margin: 0;
      padding: 3px 10px 3px 0;
    }
    .title {
      font-size: 25px;
      font-weight: bold;
      font-family: 'Montserrat';
    }
    .sub-title {
      font-size: 18px;
      font-weight: bold;
      color: #3F3F3F;
    }
    .selection {
      font-size: 15px;
      font-weight: bold;
      color: #3F3F3F;
    }

    .button {
      background-color: #FFD853;
      border: none;
      color: white;
      padding: 10px 10px;
      border-radius: 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      font-weight: bold;
      font-family: 'Montserrat';
      color: #3F3F3F;
      margin: 2px 2px;
      cursor: pointer;
    }
    p {
      font-family: 'Montserrat';
      font-size: 16px;
    }
    div.row {
      border-top-style: solid;
      border-top-color: #FFAE46;
    }
    div.col-md-8 {
      margin-top: 20px;
    }
    div.col-md-4 {
      margin-top: 20px;
    }

    @import url( https://fonts.googleapis.com/css?family=Montserrat );

    .clearfix{*zoom:1}.clearfix:before,.clearfix:after{display:table;line-height:0;content:""}.clearfix:after{clear:both}

    .calender{
      margin:40px auto;
      width:70%;
      padding:20px;
      background:#f7f7f7;
      border:1px solid #ccc;
      color:#FFAE46;
      position:relative;
    }

    .calender:before,
    .calender:after{
      content: '';
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: inherit;
      box-shadow: inherit;
      -webkit-transform: rotate(2deg);
      box-shadow:0 0 20px rgba(0,0,0,.4);
    }

    .calender::after{ -webkit-transform: rotate(-1deg) }

    .calender h1{
      font-family:'Montserrat';
      width:100%;
      text-align:center;
      text-shadow:1px 1px 0px rgba(0,0,0,.6);
    }

    .calender .day{
      display:block;
      width:13.5%;
      height:0;
      padding-top:6%;
      padding-bottom:8%;
      float:left;
      text-align:center;
      background:#ddd;
      border:1px solid #f7f7f7;
      font-family:sans-serif;
      font-size:1.4em;
      -webkit-transition: all .2s ease;
      cursor:pointer;
    }

    .calender .day:hover{
      background:#FFAE46;
      color:#f7f7f7;
      box-shadow:inset 0 0 20px rgba(0,0,0,.4);
      text-shadow:1px 1px 2px rgba(0,0,0,.4);
    }

    .calender .day.current{
      background:#FFAE46;
      color:#f7f7f7;
      box-shadow:inset 0 0 20px rgba( 0,0,0, .4);
      text-shadow:1px 1px 2px rgba(0,0,0,.4);

     .btn{
       padding: 10px 20px;
       font-size: 20px;
       border-radius: 10px;
       border:1px solid #f7f7f7;
       text-align:center;
       background:#ddd;
       font-family:sans-serif;
       -webkit-transition: all .2s ease;
      }

      @include media-breakpoint-between(xs,sm){
        .btn {
            @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
        }
      }


</style>
{% endblock %}

{% block content %}
<body>

{% set mentor_full_name, mentor_pic_path_ori = param.split('+') %}
{% set mentor_pic_path = mentor_pic_path_ori.replace('-','/') %}
<div class="mentor-style">
  <div class="container">

    <div class="box-small">
        <img src="{{url_for('static',filename=mentor_pic_path)}}" height="50" width="50"/>
    </div>
    <div class="content">
      <p class="title">{{mentor_full_name}}</p>
    </div>

    <div class="row">
        <div class="col-lg">
        <div id="accordion" role="tablist" aria-multiselectable="true">

          <div class="card" style="border-color: #FFC246;">
            <div class="card-header" role="tab" id="headingOne" style="background-color: #FFC246;">
              <h5>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                  <p class="sub-title">Topic - 课程主题</p>
                </a>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <a href="#" class="button">Accounting</a>
                <a href="#" class="button">Finance</a>
              </div>
            </div>
          </div>

          <div class="card" style="border-color: #FFC246;">
            <div class="card-header" role="tab" id="headingTwo" style="background-color: #FFC246;">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <p class="sub-title">Duration - 课程时长</p>
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="card-block">
                <a href="#" class="button">45 minutes</a>
                  <a href="#" class="button">60 minutes</a>
              </div>
            </div>
          </div>

          <div class="card" style="border-color: #FFC246;">
            <div class="card-header" role="tab" id="headingThree" style="background-color: #FFC246;">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <p class="sub-title">Reservation - 预定时间</p>
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="card-block">

                <div class="calender">
                  <div class="month">
                    <h1>March - 2018</h1>
                    <form action="" method="post">
                      {{ form.csrf }}

                      <div class="container">
                        <div class="col-xs-12 col-xs-offset-0 col-sm-offset-3 col-sm-6">
                          <button class="btn btn-group">Click me!</button>
                        </div>
                      </div>

                      <div class="btn-group btn-group-lg" >
                      <button class="btn" type="submit" name="day" value="1">1</button>
                      <button class="btn" type="submit" name="day" value="2">2</button>
                      <button class="btn" type="submit" name="day" value="3">3</button>
                      <button class="btn" type="submit" name="day" value="4">4</button>
                      <button class="btn" type="submit" name="day" value="5">5</button>
                      <button class="btn" type="submit" name="day" value="6">6</button>
                      <button class="btn" type="submit" name="day" value="7">7</button>
                      </div>

                      <button class="btn" type="submit" name="day" value="8">8</button>
                      <button class="btn" type="submit" name="day" value="9">9</button>
                      <button class="btn" type="submit" name="day" value="10">10</button>
                      <button class="btn" type="submit" name="day" value="11">11</button>
                      <button class="btn" type="submit" name="day" value="12">12</button>
                      <button class="btn" type="submit" name="day" value="13">13</button>
                      <button class="btn" type="submit" name="day" value="14">14</button>
                      <button class="btn" type="submit" name="day" value="15">15</button>
                      <button class="btn" type="submit" name="day" value="16">16</button>
                      <button class="btn" type="submit" name="day" value="17">17</button>
                      <button class="btn" type="submit" name="day" value="18">18</button>
                      <button class="btn" type="submit" name="day" value="19">19</button>
                      <button class="btn" type="submit" name="day" value="20">20</button>
                      <button class="btn" type="submit" name="day" value="21">21</button>
                      <button class="btn" type="submit" name="day" value="22">22</button>
                      <button class="btn" type="submit" name="day" value="23">23</button>
                      <button class="btn" type="submit" name="day" value="24">24</button>
                      <button class="btn" type="submit" name="day" value="25">25</button>
                      <button class="btn" type="submit" name="day" value="26">26</button>
                      <button class="btn" type="submit" name="day" value="27">27</button>
                      <button class="btn" type="submit" name="day" value="28">28</button>
                      <button class="btn" type="submit" name="day" value="29">29</button>
                      <button class="btn" type="submit" name="day" value="30">30</button>
                      <button class="btn" type="submit" name="day" value="31">31</button>
                    </form>

                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>
    </div>
      </div>

  </div>
</div>





</body>
{% endblock %}
