{% extends "base.html" %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}

{% block title %}StudyPal-伴学{% endblock %}

{% block head %}
{{ super() }}

<link href="https://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
<link rel="stylesheet" href="https://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

<style>
    .mentor-style {
      background-color: #ffffff;
      margin-top: 200px;
    }
    .box {
      display: inline-block;
      vertical-align: top;
      width: 121px;
      height: 151px;
      background: #ffffff;
      margin: 5px;
      border:3px solid #FFAE46;
    }
    .content {
      display: inline-block;
      vertical-align: top;
    }
    .title, .sub-title {
      margin: 0;
      padding: 3px 10px 3px 0;
    }
    .title {
      font-size: 20px;
      font-weight: bold;
      font-family: "Arial", Georgia, Serif;
    }
    .sub-title {
      color: #3F3F3F;
    }
    .rating > span:hover:before {
      content: "\2605";
      position: absolute;
    }
    .button {
      background-color: #FFAE46;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    p {
      font-family: "Arial", Georgia, Serif;
      font-size: 16px;
    }
    div.row {
      border-top-style: solid;
      border-top-color: #FFAE46;
    }
    div.col-md-8 {
      margin-top: 20px;
    }
    div.col-md-4 {
      margin-top: 20px;
    }
</style>
{% endblock %}

{% block content %}
<body>

{% for mentor in mentors%}
<div class="mentor-style">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="box">
          <img src="{{url_for('static',filename=mentor.pic_path)}}" height="150" width="120"/>
        </div>
        <div class="content">
          <p class="title">{{mentor.full_name}}</p>
          <p class="sub-title">{{mentor.domain}}</p>
          <p class="sub-title">{{mentor.introduction}}</p>
          <a href="#">了解更多</a>
          <div class="rating"><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <!--
          <button type="button" onclick="alert('Hello world!')">尝试预约</button>
          -->
          <a href="{{ url_for('main.booking_mask') }}" class="button">尝试预约</a>
        </div>
        <div>
          <a href="#" class="button">联系导师</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}


<!--
<div class="mentor-style">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="box">
          <img src="{{url_for('static',filename='mr2.jpg')}}" height="150" width="120"/>
        </div>
        <div class="content">
          <p class="title">Gordon</p>
          <p class="sub-title">Statistics, Finance</p>
          <p class="sub-title">5 years teaching experience, familiar with all the related courses details.</p>
          <a href="#">了解更多</a>
          <div class="rating"><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
        </div>
      </div>
      <div class="col-md-4">
        <div>

          <button type="button" onclick="alert('Hello world!')">尝试预约</button>
          <a href="{{ url_for('main.booking_mask') }}" class="button">尝试预约</a>
        </div>
        <div>
          <a href="#" class="button">联系导师</a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="mentor-style">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="box">
          <img src="{{url_for('static',filename='mr3.jpg')}}" height="150" width="120"/>
        </div>
        <div class="content">
          <p class="title">Brian</p>
          <p class="sub-title">Law</p>
          <p class="sub-title">5 years teaching experience, familiar with all the related courses details.</p>
          <a href="#">了解更多</a>
          <div class="rating"><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
        </div>
      </div>
      <div class="col-md-4">
        <div>

          <button type="button" onclick="alert('Hello world!')">尝试预约</button>

          <a href="{{ url_for('main.booking_mask') }}" class="button">尝试预约</a>
        </div>
        <div>
          <a href="#" class="button">联系导师</a>
        </div>
      </div>

    </div>
  </div>
</div>
-->





</body>
{% endblock %}
